@charset "utf-8";

.head-logo {
  text-align: center;
  width: 100%;
  height: 200px;
  margin: 0;
  line-height: 1;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  /* ハンバーガーメニュー */
  .openbtn {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 99;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
  .openbtn span {
    display: inline-block;
    transition: all 0.4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #666;
    width: 45%;
  }
  .openbtn span:nth-of-type(1) {
    top: 15px;
  }
  .openbtn span:nth-of-type(2) {
    top: 23px;
  }
  .openbtn span:nth-of-type(3) {
    top: 31px;
  }
  .openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }
  .openbtn.active span:nth-of-type(2) {
    opacity: 0;
  }
  .openbtn.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }
}
.head-logo p {
  position: absolute;
  z-index: 10;
  font-size: 2rem;
  left: 40%;
  text-align: center;
  color: #fff;
  letter-spacing: 0.5rem;
}
.head-logo h1 {
  position: absolute;
  z-index: 10;
  font-size: 7rem;
  left: 38%;
  /* margin: 20px 0 40px 35px; */
  color: #fff;
  letter-spacing: 1.05rem;
}
#serch-wrap {
  position: absolute;
  z-index: 5;
  top: 10px;
  right: 2%;
}
#serch-text {
  /* safari,chromeのデフォルトの設定を無効 */
  -webkit-appearance: none;
  width: 50px;
  height: 50px;
  padding: 20px;
  border: none;
  background: rgba(197, 197, 197, 0.7) url(/image/icon-search.svg) no-repeat
    17px center;
  background-size: 25px 25px;
  transition: all 0.5s;
  outline: none;
  cursor: pointer;
}
#serch-text:focus {
  /* フォーカスにしたとき */
  width: 200px;
  padding: 20px 0 20px 60px;
  box-shadow: 0 2px rgba(6, 0, 1, 0.26);
}
/* ＝＝＝ナビゲーション＝＝＝ */
#g-nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 0 50px 0;
}
#g-nav ul ul {
  display: block;
  margin: 0;
}
#g-nav ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  color: #999;
  padding: 10px;
  transition: all 0.3s;
}
#g-nav ul li.has-child a::after {
  content: "";
}
#g-nav ul li.has-child > a::before {
  content: "";
  position: absolute;
  left: -5px;
  top: 18px;
  width: 6px;
  height: 6px;
  border-top: 2px solid #999;
  border-right: 2px solid #999;
  transform: rotate(135deg);
}
#g-nav ul li.has-child img {
  max-width: 100%;
  height: auto;
  transition: all 0.5s;
  vertical-align: bottom;
}
#g-nav ul li.has-child img:hover {
  transform: scale(1.2);
}
#g-nav ul li.has-child dt {
  overflow: hidden;
  height: 12vh;
  border-radius: 10px 10px 0 0;
}
#g-nav ul li.has-child dd {
  background: #fff;
  padding: 10px 0;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

@media screen and (max-width: 1200px) {
  #g-nav ul li.has-child dt {
    height: 10vh;
  }
}
#g-nav li.has-child ul {
  position: absolute;
  left: 10%;
  top: 58px;
  z-index: 4;
  /* 子要素横に並べる */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* 形状 */
  background: #ffa5d2;
  width: 80%;
  border-radius: 10px;
  transition: all 0.3s;
  padding: 0px 0;
  /* ↓隠してホバーしたら出現 */
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
#g-nav li.has-child:hover > ul {
  /* ホバーで出現 */
  visibility: visible;
  opacity: 1;
}
#g-nav li.has-child ul li {
  width: 23%;
}
#g-nav li.has-child ul li a {
  color: #333;
}
#g-nav p {
  display: none;
}
@media screen and (max-width: 768px) {
  #g-nav.panelactive {
    position: fixed;
    z-index: 99;
    top: 30%;
    width: 100%;
    height: 100vh;
  }
  #g-nav ul {
    opacity: 0; /* 始めは透過 */
    display: block;
    margin: 0;
  }
  #g-nav-list {
    opacity: 0; /*始めは透過 */
    position: fixed;
    overflow: auto;

    width: 100%;
    height: 100vh;
  }
  #g-nav.panelactive ul {
    opacity: 1; /* panelactive追加で表示 */
  }
  #g-nav.panelactive #g-nav-list {
    opacity: 1; /* panelactive追加で表示 */
  }
  #g-nav li.has-child ul {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    visibility: visible;
    opacity: 1;
    display: none;
    transition: none;
    border-radius: 0;
    padding: 0;
  }
  #g-nav ul li {
    /* 下線 */
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  }
  #g-nav li.has-child ul li {
    width: 100%;
    text-align: left;
  }
  #g-nav li.has-child ul li dl {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
  }
  #g-nav li.has-child ul li dt {
    width: 30%;
    height: auto;
    margin: 0;
    border-radius: 0;
  }

  #g-nav li.has-child ul li dd {
    width: 64%;
    border-radius: 0;
    background: transparent; /* 透明化白色のキャンセル */
    padding: 0;
    text-align: left;
    color: #fff;
  }
  #g-nav ul li.has-child img {
    border-radius: 0;
  }
  #g-nav ul li a {
    padding: 10px 20px 10px 40px;
    color: #fff;
  }
  #g-nav ul li li a {
    padding: 0;
  }
  #g-nav ul li.has-child > a::before {
    top: 17px;
    left: 20px;
    transform: rotate(135deg);
  }
  #g-nav ul li.has-child.active > a::before {
    transform: rotate(-45deg);
  }
  .circle-bg {
    position: fixed;
    z-index: 6;
    width: 100%;
    height: 100px;
    border-radius: 50%;
    background: rgb(248, 172, 255);
    transform: scale(0);
    left: -50px; /* 上から下 */
    top: -50px;
    transition: all 0.6s;
  }
  .circle-bg.circleactive {
    transform: scale(50);
  }
  #serch-wrap {
    top: 35%;
    right: 5%;
  }
  .head-logo p {
    left: 20%;
  }
  .head-logo h1 {
    left: 15%;
  }
}
.slide {
  width: 94%;
  margin: 0 auto;
}
.slide img {
  width: 30vw;
  height: auto;
}
.slide .slick-slide {
  transform: scale(0.8);
  transition: all 0.5s;
  opacity: 0.5;
}
.slide .slick-slide.slick-center {
  transform: scale(1);
  opacity: 1;
}
.slick-prev,
.slick-next {
  position: absolute;
  top: 42%;
  cursor: pointer;
  outline: none;
  border-top: 2px solid #666;
  border-right: 2px solid #666;
  height: 15px;
  width: 15px;
}
.slick-prev {
  left: -1.5%;
  transform: rotate(-135deg);
}
.slick-next {
  right: -1.5%;
  transform: rotate(45deg);
}
.slick-dots {
  text-align: center;
  margin: 20px 0 0 0;
}
.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}
.slick-dots button {
  color: transparent;
  outline: none;
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  background: #ccc;
}
.slick-dots .slick-active button {
  background: #333;
}
@media screen and (max-width: 768px) {
  .slide img {
    width: 50vw;
  }
}
